/* Your SCSS here. */
$navbar-bg: #7C9DD0;
$div1-bg: #ff0000;
$navbar-item-border: 3px dashed white;
$font: "Montserrat", monospace;
$alternate-font: "JetBrains Mono", monospace;



html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom,#a6eebe, #4094c8);
}

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: $navbar-bg;
    z-index: 100;
    justify-content: flex-end;
    height: 100px;
    transition: height 0.3s ease;
}

.navbar.shrink {
    height: 60px;
}

.navbar-item {
    color: #2c3e50;
    padding: 8px 12px;
    border: 2px solid transparent;
    border-radius: 4px;
    border-color: transparent;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
}

.navbar-logo {
    font-family: $font;
    color: #2c3e50;
    margin-right: auto;
    padding-left: 20px;
    font-size: 25px;
    transition: font-size 0.3s ease;
}

.navbar-logo.shrunk{
    font-size: 20px;
    transition: font-size 0.3s ease;
}

.navbar-item-outline {
    color:cyan;
    border-color: black;
    background-color: gray;
}


.div1 {
    background-color: $div1-bg;
}

.div1 h1 {
    color: blue;
}


.carousel-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    
}

.carousel-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-header {
    font-family: $font;
    color: #2c3e50; 
}

.carousel {
    grid-column: 2;
    justify-self: end;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: auto;
    aspect-ratio: 16 / 9;

}

.carousel-path {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.previous { left: 10px; }
.carousel-button.next { right: 10px; }


.modalgrid-wrapper {
  width: 80%;
  margin: 0 auto; 
}

.modalgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    // width: 100%;
    // height: 300px; fixed height is nono
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
}

.modal-title {
    text-align: center;
    margin-top: 20px;     
    font-family: $font;
    font-weight: bold;
    color: #2c3e50;
}

.modalgrid.child {
    display: flex;
    background-color: cyan;
    color: red;
    flex-direction: column;

    width: 100%;
    height: 100%;
    align-self: stretch;
    justify-self: stretch;
}

.modalgrid.child img {
    width: 100%;
    height: 100%;
}



.div.background {
    background-image: url("../assets/bearbg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 500px;
}

.clickable {
    cursor: pointer;
}


.modal-content {
  margin: auto;
  display: block;

  width: 80vw;
  height: 80vh;

  object-fit: contain;
}



.modal {
    display: none; // Hidden by default
    position: fixed; 
    z-index: 1000; 
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.8);

    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;

    transition: opacity 0.4s ease, transform 0.4s ease;
}

.modal.active {
    //   margin: auto;
    //   display: block;
    object-fit: contain;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}



#carousel-text {
    opacity: 1;
    transition: opacity 0.5s ease;
    font-size: large;
    font-family: $alternate-font;
    padding: 0 80px;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #bbb;
}



.columnized-wrapper {
    margin-top: 20px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    color: #2c3e50;
}

.columnized-header {
    grid-column: 1 / -1;
    text-align: center;
    font-family: $font;
}

.columnized.child {
    display: flex;
    flex-direction: column;
    // width: 100%;
    height: 150px; 
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.columnized.child i {
    font-size: 30px;
    margin: 10px;
}

.columnized.child p {
    font-size: large;
    font-family: $alternate-font;
    padding: 0 40px;
}

#myVideo {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    margin-bottom: 30px;

}


.about {
    display: flex;
    //grid-template-rows: 1fr 1fr; 
    color: #1A3E5B;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about-header {
    text-align: center;
}

.about-content {
  max-width: 600px;
  width: 100%;
  padding: 0 1rem;
  font-size: 1.1rem;            
  font-family: $alternate-font;
  box-sizing: border-box;
  text-align: center;
}

.socials-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    height: 100%;
    gap: 10px;
    color: #1A3E5B;
}

.socials-header {
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
}

.socials i {
    color: black;
    font-size: 30px;
}